.toast {
    box-shadow: none !important;
    opacity: 1 !important;

    &.toast-success {
        background: $success;
    }

    &.toast-error {
        background: $danger;
    }

    &.toast-info {
        background: $primary;
    }

    &.toast-warning {
        background: $warning;
    }

    &:hover,
    &:focus {
        box-shadow: none;
        opacity: 1;
    }
}
